* {
    border-radius: 4px;
}

body {
    background-color: black;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    margin-top: 25vh;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    padding-top: 0;
}

.input-wrapper h1 {
    color: #fff;
    margin: auto;
    margin-top: 20px;
}

.input-wrapper input {
    margin-top: 20px;
}

.input-wrapper button {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#popup-background {
    position: fixed;
    top: 0;
    left: 0;;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup-content {
    background-color: #fff;
    width: 50%;
    position: relative;
    padding: 20px;
    padding-top: 0;
    max-height: 70vh;
    overflow: scroll;
}

#popup-content h1, #popup-content h2 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.75);
}

#popup-content p {
    font-size: 14px;
    color: grey;
}

#close-button {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 25px !important;
}

#close-button:hover, button:hover, .offers__item:hover, .item__paragraph:hover {
    color: steelblue;
    border-color: steelblue;
    cursor: pointer;
}

#scroll-arrow {
    position: fixed;
    bottom: 0;
    right: 10%;
    padding: 5px 10px;
}

button {
    background-color: transparent;
    color: #fff;
    padding: 5px 7px;
}

textarea {
    overflow: hidden;
}

.post__button {
    margin-left: 45%;
    color: grey
}

.new-post__description {
    margin-bottom: 5px;
    color: grey;
}

.post__input {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none !important;
}

.padding-bottom-10px {
    padding-bottom: 10px !important
}