body {
    background-color: black;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    margin-top: 25vh;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    padding-top: 0;
}

.input-wrapper h1 {
    color: #fff;
    margin: auto;
    margin-top: 20px;
}

.input-wrapper input {
    margin-top: 20px;
}

.input-wrapper button {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

#user-details-background {
    position: fixed;
    top: 0;
    left: 0;;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-details-content {
    background-color: #fff;
    width: 50%;
}

.overflow-hidden {
    overflow: hidden;
}

.display-none {
    display: none !important;
}
